html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
}

h1 {
    text-align: center;
    position: relative;
    font-size: 3em;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 16px;
    transition: all 0.6s ease-in-out;
}

h1:hover {
  letter-spacing: 14px;
  transition: all 0.6s ease-in-out;
}

.navBar {
  gap: 4rem;
  display: flex;
  justify-content: center;
}

#pokiSearch {
  
  display: flex;
  justify-content: center;
}

/* .Poke {
  margin: 0.5rem;
} */

/* .searchCards {
  display: none;
} */

.statsDiv {
  justify-content: center;
  display: flex;
  margin: 10px;
  text-align: center;
  padding: 30px;
}

.statsBar {
  border: 1px solid black;
  background: #dae5f0 no-repeat scroll 10px 5px none;
  border-radius: 20px;
  padding: 2px 0 0 3px;
  height: 300px;
  width: 500px;
  margin-top: 8px;
  box-shadow: inset 1px 1px 0 rgb(255 255 255);
}

.pokeImage {
  border: 1px solid black;
  background: #ECF0F3;
  border-radius: 5px;
  padding: 2px 0 0 3px;
  height: 300px;
  width: 300px;
  margin-top: 8px;
  box-shadow: inset 1px 1px 0 rgb(255 255 255 / 60%);
}

.pokeCard {
  position: relative;
  width: 320px;
  height: 450px;
  background: #ECF0F3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  width: calc(25% - 1rem);
  margin: 0.3rem;
  border: 4px solid black;
}

p {
    margin: 10px;
}

.pokeCard {
    display: inline-block;
    border: 1px solid #494949
}

.pokeCard:hover {
    color: black !important;
    border-radius: 30px;
    border-color: #494949 !important;
    transition: all 0.4s ease 0s;
  }

  .pokeCard:hover {
    background-color: #ECF0F3;
    box-shadow: 0px 15px 10px  #a9a9a9;
    color: #fff;
    transform: translateY(-5px);
  }

.navBar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  button {
    cursor: pointer;
    padding: 2em;
    border-radius: 15%;
    
  }
  button:hover {
    background-color: #ECF0F3;
    box-shadow: 0px 15px 20px  #a9a9a9;
    color: #fff;
    transform: translateY(-4px);
  }

button {
  font-family: 'Open Sans';
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 2px solid #494949 !important;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
  color: black !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.6s ease 0s;
}

.searchBar {
  padding: 1em;
  text-align: center;
  border-radius: 4px;
  margin: 2rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 20px;
}

.add {
  padding: 6px;
}

.box {
  text-align: center;
}

.pokeball {
  position: center;
  max-width: 5%;
  height: auto;
  cursor: pointer;
}

.toTheTop {

}

#scroll-container {
  /* border: 1px solid bdd lack; */
  padding: 14px;
  border-radius: 10px;
  overflow: hidden;
}

#scroll-text {
  position: flex;
  /* animation properties */
  /* -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%); */
  transform: translateX(100%);
  
  /* -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite; */
  animation: my-animation 10s linear infinite;
}

/* for Firefox
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
} */

/* for Chrome
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
} */

@keyframes my-animation {
  from {
    /* -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%); */
    transform: translateX(100%);
  }
  to {
    /* -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%); */
    transform: translateX(-100%);
  }
}

#gotta {
  max-width: 10%;
  height: auto;
}

#PokémonLink {
  display: block;
  margin: 10px;
  padding: 10px;
}

/* #Poké {
  font-family: 'Open Sans';
  color: #494949 !important;
  text-transform: uppercase;
  background: white;
  padding: 20px;
  border: 2px solid #494949 !important;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
#Poké {
  cursor: pointer;
  padding: 2em;
  border-radius: 10%;
  
}
#Poké:hover {
  background-color: white;
  box-shadow: 0px 15px 20px  #a9a9a9;
  color: #fff;
  transform: translateY(-4px);
}
#Poké:hover {
  color: black !important;
  border-radius: 50px;
  border-color: #494949 !important;
  transition: all 0.6s ease 0s;
} */

#duelButton {
  
}

#choose {
  
}